.login-wrapper {
  height: 100%;
  background-image: linear-gradient(to bottom, cadetblue, azure);
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.login-form {
  background-color:whitesmoke;
  padding: 16px;
  border: 1px solid whitesmoke;
  border-radius: 6px;
}

.login-form-forgot {
  float: right;
}
