<form nz-form [formGroup]="CreateForm">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="18">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>用户名称</nz-form-label>
        <nz-form-control nzErrorTip="不能为空!">
          <input nz-input formControlName="userName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="18">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>工号</nz-form-label>
        <nz-form-control nzErrorTip="不能为空!">
          <input nz-input  formControlName="userCode"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="18">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>部门</nz-form-label>
        <nz-form-control nzErrorTip="不能为空!">
          <nz-select id="departmentName" formControlName="departmentName" (nzOnSearch)="searchDepart($event)"
            nzShowSearch nzServerSearch nzAllowClear nzPlaceHolder="请选择部门">
            <nz-option *ngFor="let o of listOfDepart" [nzLabel]="o.text" [nzValue]="o.value"> </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="18">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>角色</nz-form-label>
        <nz-form-control nzErrorTip="不能为空!">
          <nz-select id="roleName" formControlName="roleName" (nzOnSearch)="searchRole($event)"
            nzShowSearch nzServerSearch nzAllowClear nzPlaceHolder="请选择角色">
            <nz-option *ngFor="let o of listOfRole" [nzLabel]="o.text" [nzValue]="o.value"> </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="18">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>密码</nz-form-label>
        <nz-form-control nzErrorTip="不能为空!">
          <input type="password" nz-input formControlName="password"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="18">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">电话</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="phone"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="18" class="operate-area">
      <button nz-button (click)="cancel($event)">取消</button>
      <button nz-button [nzType]="'primary'" style="margin-left: 8px;"
        [disabled]="!CreateForm.valid" (click)="save($event)">保存</button>
    </div>
  </div>
</form>