<form nz-form [formGroup]="CreateForm">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">用户名称</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="userName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">工号</nz-form-label>
        <nz-form-control>
          <input nz-input  formControlName="userCode"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">部门</nz-form-label>
        <nz-form-control>
          <nz-select id="role" nzAllowClear  placeholder="请选择部门" formControlName="department" placeholder="请选择部门">
            <nz-option nzValue="0" nzLabel="部门一"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  
  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">角色</nz-form-label>
        <nz-form-control>
          <nz-select id="role" nzAllowClear formControlName="role">
            <nz-option nzValue="0" nzLabel="全部"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">密码</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="password"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">电话</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="tel"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="12" class="operate-area">
      <button nz-button (click)="cancel()">取消</button>
      <button nz-button [nzType]="'primary'" style="margin-left: 8px;" (click)="save()">保存</button>
    </div>
  </div>
</form>