<form nz-form [formGroup]="CreateForm">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="18">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>商标名称</nz-form-label>
        <nz-form-control nzErrorTip="不能为空!">
          <input nz-input formControlName="trademarkName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="18">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>商标编号</nz-form-label>
        <nz-form-control nzErrorTip="不能为空!">
          <input nz-input  formControlName="trademarkCode"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="18">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>文件名称</nz-form-label>
        <nz-form-control nzErrorTip="不能为空!">
          <input nz-input  formControlName="fileName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="18">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>文件类型</nz-form-label>
        <nz-form-control nzErrorTip="不能为空!">
          <nz-select id="fileType" nzAllowClear formControlName="fileType">
            <nz-option nzValue="来文" nzLabel="来文"></nz-option>
            <nz-option nzValue="发文" nzLabel="发文"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="18">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">上传日期</nz-form-label>
        <nz-form-control>
          <nz-date-picker nzDisabled formControlName="uploadDate"
            nzFormat="yyyy-MM-dd" style="width: 100%;"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label [nzSpan]="4" nzRequired>文件</nz-form-label>
        <nz-form-control>
          <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76">
            <button nz-button><i nz-icon nzType="upload"></i>选择文件</button>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="18" class="operate-area">
      <button nz-button (click)="cancel($event)">取消</button>
      <button nz-button [nzType]="'primary'" style="margin-left: 8px;"
        [disabled]="!CreateForm.valid" (click)="save($event)">保存</button>
    </div>
  </div>
</form>