.ant-page-header {
  padding: 2px;
}
.ant-breadcrumb {
  font-size: large;
}
.ant-page-header.has-breadcrumb {
  padding-top: 1px;
}

.ant-advanced-search-form {
  padding: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

nz-form-label {
  overflow: visible;
}

nz-form-item {
  margin-bottom: 8px;
}

.operate-area {
  text-align: right;
}

nz-table {
  margin-top: 16px;
  padding: 6px;
  border: 1px solid #e9e9e9;
  text-align: center;
}
