<nz-page-header class="site-page-header">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>代理机构管理</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">机构名称</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="agencyName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="16" class="search-area">
      <button nz-button (click)="resetForm()">重置</button>
      <button nz-button (click)="search()"
        [nzType]="'primary'" style="margin-left: 8px;">搜索</button>
    </div>
  </div>
</form>

<div>
  <button nz-button nzType="primary" (click)="create()" style="margin-top: 8px;">
    新增代理机构</button>
</div>

<nz-table #reasultTable nzBordered nzSize="small" [nzScroll]="{ x: '1440px' }"
  nzShowPagination nzShowSizeChanger [nzData]="dataSet" [nzLoading]="searchLoading">
  <thead>
    <tr>
      <th nzWidth="60px" nzLeft="0px">序号</th>
      <th nzWidth="120px" nzLeft="60px">代理机构编号</th>
      <th nzWidth="160px" nzLeft="180px">代理机构名称</th>
      <th nzWidth="100px">代理人</th>
      <th nzWidth="160px">代理机构负责人</th>
      <th nzWidth="160px">联系电话</th>
      <th nzWidth="160px">邮箱</th>
      <th nzWidth="240px">地址</th>
      <th nzWidth="120px">备注</th>
      <th nzWidth="160px" nzRight="0px">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of reasultTable.data; let i = index">
      <td nzLeft="0px">{{ i+1 }}</td>
      <td nzLeft="60px">{{ data.agencyCode }}</td>
      <td nzLeft="180px">{{ data.agencyName }}</td>
      <td>{{ data.agentName }}</td>
      <td>{{ data.agencyHolder }}</td>
      <td>{{ data.agencyPhone }}</td>
      <td>{{ data.agencyEmail }}</td>
      <td>{{ data.agencyAddress }}</td>
      <td>{{ data.agencyRemark }}</td>
      <td nzRight="0px">
        <button nz-button (click)="delete(data.agencyCode)">删除</button>
        <button nz-button (click)="edit(data)" style="margin-left: 8px;">编辑</button>
      </td>
    </tr>
  </tbody>
</nz-table>
