<form nz-form [formGroup]="EditForm">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>专利编号</nz-form-label>
        <nz-form-control>
          <input nz-input  formControlName="patentCode"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>专利名称</nz-form-label>
        <nz-form-control>
          <input nz-input  formControlName="patentName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>费用名称</nz-form-label>
        <nz-form-control>
          <input nz-input  formControlName="feeName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">缴费状态</nz-form-label>
        <nz-form-control>
          <nz-select id="officialFeeStatus" formControlName="officialFeeStatus" nzAllowClear placeholder="请选择">
            <nz-option nzValue="已缴费" nzLabel="已缴费"></nz-option>
            <nz-option nzValue="未缴费" nzLabel="未缴费"></nz-option>
            <nz-option nzValue="已回执" nzLabel="已回执"></nz-option>
            <nz-option nzValue="不缴费(放弃)" nzLabel="不缴费(放弃)"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>应缴金额</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="dueAmount"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>应缴日期</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="dueDate"
            nzFormat="yyyy-MM-dd" value-format="yyyy-MM-dd" style="width: 100%;"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">实缴金额</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="actualPay"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">实缴日期</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="actualPayDate"
            nzFormat="yyyy-MM-dd" value-format="yyyy-MM-dd" style="width: 100%;"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">备注</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="remark"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">发票</nz-form-label>
        <nz-form-control>
          <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" [nzFileList]="fileList">
            <button nz-button><i nz-icon nzType="upload"></i>上传文件</button>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  
  <div nz-row [nzGutter]="16" [hidden]="true">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>文件Id</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="id"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="24" class="operate-area">
      <button nz-button (click)="cancel($event)">取消</button>
      <button nz-button [nzType]="'primary'" style="margin-left: 8px;"
        [disabled]="!EditForm.valid" (click)="save($event)">保存修改</button>
    </div>
  </div>
</form>