<nz-page-header class="site-page-header">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>知识产权管理</nz-breadcrumb-item>
    <nz-breadcrumb-item><a>新增我的软著</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">软著编号</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="softwareCode"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">软著名称</nz-form-label>
        <nz-form-control>
          <input nz-input  formControlName="softwareName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">版本号</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="version"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="24">
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">发明人</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="inventorName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">代理机构</nz-form-label>
        <nz-form-control>
          <nz-select id="agency" nzAllowClear formControlName="agency">
            <nz-option nzValue="0" nzLabel="全部"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">开发方式</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="devWay"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="24">
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">登记号</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="registerCode"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">提案日期</nz-form-label>
        <nz-form-control>
          <nz-range-picker [(ngModel)]="proposalDateRange" (ngModelChange)="onChange($event)"
            formControlName="proposalDateRange" style="width: 100%;"></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">申请日期</nz-form-label>
        <nz-form-control>
          <nz-range-picker [(ngModel)]="applyDateRange" (ngModelChange)="onChange($event)"
            formControlName="applyDateRange" style="width: 100%;"></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="24">
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">证书号</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="certiCode"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">发证日期</nz-form-label>
        <nz-form-control>
          <nz-range-picker [(ngModel)]="certiDateRange" (ngModelChange)="onChange($event)"
            formControlName="certiDateRange" style="width: 100%;"></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">发布日期</nz-form-label>
        <nz-form-control>
          <nz-range-picker [(ngModel)]="releaseDateRange" (ngModelChange)="onChange($event)"
            formControlName="releaseDateRange" style="width: 100%;"></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="24">
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">封存号</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="storeCode"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">封存日期</nz-form-label>
        <nz-form-control>
          <nz-range-picker [(ngModel)]="storeDateRange" (ngModelChange)="onChange($event)"
            formControlName="storeDateRange" style="width: 100%;"></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">完成日期</nz-form-label>
        <nz-form-control>
          <nz-range-picker [(ngModel)]="completeDateRange" (ngModelChange)="onChange($event)"
            formControlName="completeDateRange" style="width: 100%;"></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>


  <div nz-row [nzGutter]="24">
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">权力状态</nz-form-label>
        <nz-form-control>
          <nz-select id="powerStatus" nzAllowClear formControlName="powerStatus">
            <nz-option nzValue="0" nzLabel="全部"></nz-option>
            <nz-option nzValue="1" nzLabel="待交"></nz-option>
            <nz-option nzValue="2" nzLabel="在审"></nz-option>
            <nz-option nzValue="3" nzLabel="有权"></nz-option>
            <nz-option nzValue="4" nzLabel="无权"></nz-option>
            <nz-option nzValue="5" nzLabel="进国家"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">权利范围</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="rightRange"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" class="operate-area">
      <button nz-button (click)="resetForm()">重置</button>
      <button nz-button [nzType]="'primary'" style="margin-left: 8px;" (click)="search()">搜索</button>
    </div>
  </div>
</form>

<div>
  <button nz-button nzType="primary" (click)="create()" style="margin-top: 8px;">
    新增软著</button>
</div>

<nz-table #myProposalTable nzBordered nzSize="small" [nzScroll]="{ x: '2400px' }"
  nzShowPagination nzShowSizeChanger [nzData]="mySoftwareSet">
  <thead>
    <tr>
      <th nzWidth="60px" nzLeft="0px">序号</th>
      <th nzWidth="120px" nzLeft="60px">软著编号</th>
      <th nzWidth="120px" nzLeft="180px">软著名称</th>
      <th>版本号</th>
      <th>发明人</th>
      <th>开发方式</th>
      <th>登记号</th>
      <th>证书号</th>
      <th>封存号</th>
      <th>当前状态</th>
      <th>权力状态</th>
      <th>权利范围</th>
      <th>完成日期</th>
      <th>申请日期</th>
      <th>发证日期</th>
      <th>发布日期</th>
      <th>封存日期</th>
      <th nzWidth="120px" nzRight="0px">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of myProposalTable.data">
      <td nzLeft="0px">{{ data.number }}</td>
      <td nzLeft="60px">{{ data.code }}</td>
      <td nzLeft="180px">{{ data.name }}</td>
      <td>{{ data.version}}</td>
      <td>{{ data.inventor }}</td>
      <td>{{ data.devWay }}</td>
      <td>{{ data.registerCode }}</td>
      <td>{{ data.certiCode }}</td>
      <td>{{ data.storeCode }}</td>
      <td>{{ data.status }}</td>
      <td>{{ data.powerStatus }}</td>
      <td>{{ data.rightRange }}</td>
      <td>{{ data.applyDate }}</td>
      <td>{{ data.certiDate }}</td>
      <td>{{ data.releaseDate }}</td>
      <td>{{ data.storeDate }}</td>
      <td>{{ data.completeDate }}</td>
      <td nzRight="0px">
        <button nz-button  (click)="edit()">编辑</button>
      </td>
    </tr>
  </tbody>
</nz-table>
