<nz-page-header class="site-page-header">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>知识产权管理</nz-breadcrumb-item>
    <nz-breadcrumb-item><a>我的专利</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">专利名称</nz-form-label>
        <nz-form-control>
          <input nz-input  formControlName="patentName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">专利编号</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="patentCode"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">发明人</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="inventorName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="24">
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">专利类型</nz-form-label>
        <nz-form-control>
          <nz-select id="patentType" nzAllowClear formControlName="patentType">
            <nz-option nzValue="0" nzLabel="全部"></nz-option>
            <nz-option nzValue="发明专利" nzLabel="发明专利"></nz-option>
            <nz-option nzValue="实用新型专利" nzLabel="实用新型专利"></nz-option>
            <nz-option nzValue="外观设计专利" nzLabel="外观设计专利"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">当前程序</nz-form-label>
        <nz-form-control>
          <nz-select id="currentProgram" nzAllowClear formControlName="currentProgram">
            <nz-option nzValue="0" nzLabel="全部"></nz-option>
            <nz-option nzValue="内部作业" nzLabel="内部作业"></nz-option>
            <nz-option nzValue="委托代理" nzLabel="委托代理"></nz-option>
            <nz-option nzValue="官方受理" nzLabel="官方受理"></nz-option>
            <nz-option nzValue="官方初审" nzLabel="官方初审"></nz-option>
            <nz-option nzValue="补正" nzLabel="补正"></nz-option>
            <nz-option nzValue="官方实审" nzLabel="官方实审"></nz-option>
            <nz-option nzValue="授权公告" nzLabel="授权公告"></nz-option>
            <nz-option nzValue="官方发证" nzLabel="官方发证"></nz-option>
            <nz-option nzValue="驳回通知" nzLabel="驳回通知"></nz-option>
            <nz-option nzValue="复审" nzLabel="复审"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">权力状态</nz-form-label>
        <nz-form-control>
          <nz-select id="rightStatus" nzAllowClear formControlName="rightStatus">
            <nz-option nzValue="0" nzLabel="全部"></nz-option>
            <nz-option nzValue="待交" nzLabel="待交"></nz-option>
            <nz-option nzValue="在审" nzLabel="在审"></nz-option>
            <nz-option nzValue="有权" nzLabel="有权"></nz-option>
            <nz-option nzValue="无权" nzLabel="无权"></nz-option>
            <nz-option nzValue="进国家" nzLabel="进国家"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="24">
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">代理机构</nz-form-label>
        <nz-form-control>
          <nz-select id="agency" formControlName="agency" (nzOnSearch)="searchAgency($event)"
            nzShowSearch nzServerSearch nzAllowClear nzPlaceHolder="请选择代理机构">
            <nz-option nzValue="0" nzLabel="全部"></nz-option>
            <nz-option *ngFor="let o of listOfAgency" [nzLabel]="o.text" [nzValue]="o.value"> </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" class="operate-area">
      <button nz-button (click)="resetForm()">重置</button>
      <button nz-button [nzType]="'primary'" style="margin-left: 8px;" (click)="search()">搜索</button>
    </div>
  </div>
</form>

<nz-table #reasultTable nzBordered nzSize="small" [nzScroll]="{ x: '1500px' }"
  nzShowPagination nzShowSizeChanger [nzData]="dataSet" [nzLoading]="searchLoading">
  <thead>
    <tr>
      <th nzWidth="60px" nzLeft="0px">序号</th>
      <th nzWidth="120px" nzLeft="60px">专利编号</th>
      <th nzWidth="160px" nzLeft="180px">专利名称</th>
      <th>发明人</th>
      <th>专利类型</th>
      <th>当前程序</th>
      <th>权力状态</th>
      <th>申请号</th>
      <th>申请日期</th>
      <th>授权号</th>
      <th>授权日期</th>
      <th nzWidth="80px" nzRight="160px">专利奖金</th>
      <th nzWidth="80px" nzRight="80px">相关文件</th>
      <th nzWidth="80px" nzRight="0px">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of reasultTable.data; let i = index">
      <td nzLeft="0px">{{ i+1 }}</td>
      <td nzLeft="60px">{{ data.patentCode }}</td>
      <td nzLeft="180px">{{ data.patentName }}</td>
      <td>{{ data.inventorNameList.toString() }}</td>
      <td>{{ data.patentType }}</td>
      <td>{{ data.currentProgram }}</td>
      <td>{{ data.rightStatus }}</td>
      <td>{{ data.applicationCode }}</td>
      <td>{{ data.applicationDate | date: 'yyyy-MM-dd' }}</td>
      <td>{{ data.grantCode}}</td>
      <td>{{ data.grantDate | date: 'yyyy-MM-dd' }}</td>
      <td nzRight="160px">
        <button nz-button (click)="showBonus()">详情</button>
      </td>
      <td nzRight="80px">
        <button nz-button (click)="showFile()">详情</button>
      </td>
      <td nzRight="0px">
        <button nz-button (click)="edit()">编辑</button>
      </td>
    </tr>
  </tbody>
</nz-table>

