<nz-page-header class="site-page-header">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>费用管理</nz-breadcrumb-item>
    <nz-breadcrumb-item><a>软著奖金</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">专利名称</nz-form-label>
        <nz-form-control>
          <input nz-input  formControlName="name"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">专利编号</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="code"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">专利类型</nz-form-label>
        <nz-form-control>
          <nz-select id="patentType" nzAllowClear formControlName="patentType">
            <nz-option nzValue="0" nzLabel="全部"></nz-option>
            <nz-option nzValue="1" nzLabel="发明专利"></nz-option>
            <nz-option nzValue="2" nzLabel="实用新型专利"></nz-option>
            <nz-option nzValue="3" nzLabel="外观设计专利"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="24">
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">奖金类型</nz-form-label>
        <nz-form-control>
          <nz-select id="type" nzAllowClear formControlName="type">
            <nz-option nzValue="0" nzLabel="全部"></nz-option>
            <nz-option nzValue="1" nzLabel="申请"></nz-option>
            <nz-option nzValue="2" nzLabel="授权"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">发明人</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="inventor"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">提案部门</nz-form-label>
        <nz-form-control>
          <nz-select id="department" nzAllowClear formControlName="department">
            <nz-option nzValue="0" nzLabel="全部"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="24">
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="8">发放状态</nz-form-label>
        <nz-form-control>
          <nz-select id="status" nzAllowClear formControlName="status">
            <nz-option nzValue="0" nzLabel="全部"></nz-option>
            <nz-option nzValue="1" nzLabel="已发放"></nz-option>
            <nz-option nzValue="2" nzLabel="未发放"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="16" class="operate-area">
      <button nz-button (click)="resetForm()">重置</button>
      <button nz-button [nzType]="'primary'" style="margin-left: 8px;" (click)="search()">搜索</button>
    </div>
  </div>
</form>

<div>
  <button nz-button nzType="primary" (click)="create()" style="margin-top: 8px;">
    新增专利奖金</button>
</div>

<nz-table #resultTable nzBordered nzSize="small" [nzScroll]="{ x: '1400px' }"
  nzShowPagination nzShowSizeChanger [nzData]="dataSet">
  <thead>
    <tr>
      <th nzWidth="60px" nzLeft="0px">序号</th>
      <th nzWidth="120px" nzLeft="60px">专利编号</th>
      <th nzWidth="160px" nzLeft="180px">专利名称</th>
      <th>专利类型</th>
      <th>奖金类型</th>
      <th>奖金金额</th>
      <th>发放状态</th>
      <th>实发金额</th>
      <th>发明人</th>
      <th nzWidth="60px">发明人位次</th>
      <th nzWidth="120px" nzRight="0px">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of resultTable.data; let i = index">
      <td nzLeft="0px">{{ i+1 }}</td>
      <td nzLeft="60px">{{ data.code }}</td>
      <td nzLeft="180px">{{ data.name }}</td>
      <td>{{ data.patentType }}</td>
      <td>{{ data.type }}</td>
      <td>{{ data.bonus }}</td>
      <td>{{ data.status }}</td>
      <td>{{ data.actualPay }}</td>
      <td>{{ data.inventor }}</td>
      <td>{{ data.rank }}</td>
      <td nzRight="0px">
        <button nz-button (click)="delete()">删除</button>
        <button nz-button (click)="edit()" style="margin-left: 8px;">编辑</button>
      </td>
    </tr>
  </tbody>
</nz-table>
