<form nz-form [formGroup]="EditForm">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">软著编号</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="patentCode"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">软著名称</nz-form-label>
        <nz-form-control>
          <input nz-input  formControlName="patentName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">发明人</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="inventorName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">代理机构</nz-form-label>
        <nz-form-control>
          <nz-select id="agency" nzAllowClear formControlName="agency">
            <nz-option nzValue="0" nzLabel="全部"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  
  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">版本号</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="inventorName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">开发方式</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="inventorName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">登记号</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="applyCode"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">申请日期</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="applyDate" style="width: 100%;"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">证书号</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="empowerCode"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">发证日期</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="empowerDate" style="width: 100%;"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">封存号</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="empowerCode"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">封存日期</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="empowerDate" style="width: 100%;"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">权力状态</nz-form-label>
        <nz-form-control>
          <nz-select id="powerStatus" nzAllowClear formControlName="powerStatus">
            <nz-option nzValue="0" nzLabel="全部"></nz-option>
            <nz-option nzValue="1" nzLabel="待交"></nz-option>
            <nz-option nzValue="2" nzLabel="在审"></nz-option>
            <nz-option nzValue="3" nzLabel="有权"></nz-option>
            <nz-option nzValue="4" nzLabel="无权"></nz-option>
            <nz-option nzValue="5" nzLabel="进国家"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">权利范围</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="empowerCode"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">提案日期</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="empowerDate" style="width: 100%;"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">完成日期</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="empowerDate" style="width: 100%;"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">发布日期</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="empowerDate" style="width: 100%;"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="24" class="operate-area">
      <button nz-button (click)="cancel()">取消</button>
      <button nz-button [nzType]="'primary'" style="margin-left: 8px;" (click)="save()">保存</button>
    </div>
  </div>
</form>