<form nz-form [formGroup]="CreateForm">

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>代理机构名称</nz-form-label>
        <nz-form-control nzErrorTip="不能为空!">
          <input nz-input formControlName="agencyName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>代理机构编号</nz-form-label>
        <nz-form-control nzErrorTip="不能为空!">
          <input nz-input formControlName="agencyCode"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">代理机构负责人</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="agencyHolder"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">联系电话</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="agencyPhone"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">邮箱</nz-form-label>
        <nz-form-control nzErrorTip="请输入正确的邮箱!">
          <input nz-input formControlName="agencyEmail"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">地址</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="agencyAddress"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
 
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">备注</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="agencyRemark"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="24" class="operate-area">
      <button nz-button (click)="cancel($event)">取消</button>
      <button nz-button [nzType]="'primary'" style="margin-left: 8px;"
        [disabled]="!CreateForm.valid" (click)="save($event)">保存</button>
    </div>
  </div>

</form>
