<nz-table #resultTable nzBordered nzSize="small" [nzData]="dataSet" [nzLoading]="searchLoading">
  <thead>
    <tr>
      <th>序号</th>
      <th>审批人</th>
      <th>负责流程</th>
      <th>审批时间</th>
      <th>审批意见</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of resultTable.data; let i = index">
      <td>{{ i+1 }}</td>
      <td>{{ data.reviewerName }}</td>
      <td>{{ data.reviewerRoleName }}</td>
      <td>{{ data.reviewDate}}</td>
      <td>{{ data.reviewResult}}</td>
    </tr>
  </tbody>
</nz-table>
