<form nz-form [formGroup]="EditForm">

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>专利编号</nz-form-label>
        <nz-form-control nzErrorTip="不能为空!">
          <input nz-input formControlName="patentCode"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">专利名称</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="patentName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>奖金类型</nz-form-label>
        <nz-form-control nzErrorTip="不能为空!">
          <nz-select id="bonusType" nzAllowClear formControlName="bonusType">
            <nz-option nzValue="申请" nzLabel="申请"></nz-option>
            <nz-option nzValue="授权" nzLabel="授权"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">发放状态</nz-form-label>
        <nz-form-control>
          <nz-select id="releaseStatus" nzAllowClear formControlName="releaseStatus">
            <nz-option nzValue="已发放" nzLabel="已发放"></nz-option>
            <nz-option nzValue="未发放" nzLabel="未发放"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">发明人</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="inventorName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">实发金额</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <nz-input-number formControlName="actualRelease" style="width: 110%;"
            [nzMin]="0" [nzMax]="100000" [nzStep]="100"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  
  <div nz-row [nzGutter]="16" [hidden]="true">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>奖金Id</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="bonusId"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="24" class="operate-area">
      <button nz-button (click)="cancel()">取消</button>
      <button nz-button [nzType]="'primary'" style="margin-left: 8px;"
        [disabled]="!EditForm.valid" (click)="save()">保存</button>
    </div>
  </div>

</form>
