<nz-page-header class="site-page-header">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>技术提案</nz-breadcrumb-item>
    <nz-breadcrumb-item><a>我的提案</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">提案名称</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="name"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">提案编号</nz-form-label>
        <nz-form-control>
          <input nz-input  formControlName="code"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">提案类型</nz-form-label>
        <nz-form-control>
          <nz-select id="type" nzAllowClear formControlName="type">
            <nz-option nzValue="0" nzLabel="全部"></nz-option>
            <nz-option nzValue="1" nzLabel="发明专利"></nz-option>
            <nz-option nzValue="2" nzLabel="实用新型专利"></nz-option>
            <nz-option nzValue="3" nzLabel="外观设计专利"></nz-option>
            <nz-option nzValue="4" nzLabel="软著"></nz-option>
            <nz-option nzValue="5" nzLabel="商标"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="24">
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">发明人</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="inventor"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">审批状态</nz-form-label>
        <nz-form-control>
          <nz-select id="status" nzAllowClear formControlName="status">
            <nz-option nzValue="0" nzLabel="全部"></nz-option>
            <nz-option nzValue="1" nzLabel="在审"></nz-option>
            <nz-option nzValue="2" nzLabel="通过"></nz-option>
            <nz-option nzValue="3" nzLabel="不通过"></nz-option>
            <nz-option nzValue="4" nzLabel="补充文件"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">提案日期</nz-form-label>
        <nz-form-control>
          <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onChange($event)"
            formControlName="dateRange" style="width: 100%;"></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button (click)="resetForm()">重置</button>
      <button nz-button [nzType]="'primary'" style="margin-left: 8px;" (click)="search()">搜索</button>
    </div>
  </div>
</form>

<nz-table #resultTable nzBordered nzSize="small" [nzScroll]="{ x: '1400px' }"
  nzShowPagination nzShowSizeChanger [nzData]="dataSet">
  <thead>
    <tr>
      <th nzWidth="60px" nzLeft="0px">序号</th>
      <th nzWidth="120px" nzLeft="60px">提案编号</th>
      <th nzWidth="160px" nzLeft="180px">提案名称</th>
      <th>提案日期</th>
      <th>发明人</th>
      <th>审批状态</th>
      <th>提案类型</th>
      <th nzWidth="80px" nzRight="200px">审批流程</th>
      <th nzWidth="80px" nzRight="120px">相关文件</th>
      <th nzWidth="120px" nzRight="0px">补充文件</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of resultTable.data; let i = index">
      <td nzLeft="0px">{{ i+1 }}</td>
      <td nzLeft="60px">{{ data.code }}</td>
      <td nzLeft="180px">{{ data.name }}</td>
      <td>{{ data.date | date: 'yyyy-MM-dd' }}</td>
      <td>{{ data.inventor }}</td>
      <td>{{ data.status }}</td>
      <td>{{ data.type }}</td>
      <td nzRight="200px">
        <button nz-button (click)="showReview()">详情</button>
      </td>
      <td nzRight="120px">
        <button nz-button (click)="showFile()">详情</button>
      </td>
      <td nzRight="0px">
        <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76">
          <button nz-button><i nz-icon nzType="upload"></i>选择文件</button>
        </nz-upload>
      </td>
    </tr>
  </tbody>
</nz-table>
