
<div>
  <button nz-button nzType="primary" (click)="showCreate()" style="margin-top: 8px;">
    新增官费</button>
</div>

<nz-table #myProposalTable nzBordered nzSize="small"
  [nzData]="patentAnnualFeeSet">
  <thead>
    <tr>
      <th>编号</th>
      <th>官费名称</th>
      <th>缴费状态</th>
      <th>应缴金额</th>
      <th>应缴日期</th>
      <th>实缴金额</th>
      <th>实缴日期</th>
      <th>发票</th>
      <th>备注</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of myProposalTable.data">
      <td>{{ data.number }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.status }}</td>
      <td>{{ data.amount }}</td>
      <td>{{ data.date }}</td>
      <td>{{ data.actualPay }}</td>
      <td>{{ data.payDate }}</td>
      <td>
        <button nz-button (click)="showInvoice()">查看</button>
      </td>
      <td>{{ data.remark }}</td>
      <td>
        <button nz-button (click)="showDeleteConfirm()">删除</button>
        <button nz-button (click)="showEdit()" style="margin-left: 8px;">编辑</button>
      </td>
    </tr>
  </tbody>
</nz-table>
