<form nz-form [formGroup]="CreateForm">

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="18">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>账单编号</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="billCode"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="18">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">提案名称</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="proposalName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="18">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">代理机构</nz-form-label>
        <nz-form-control>
          <nz-select id="agency" formControlName="agency" (nzOnSearch)="searchAgency($event)"
            nzShowSearch nzServerSearch nzAllowClear nzPlaceHolder="请选择代理机构">
            <nz-option *ngFor="let o of listOfAgency" [nzLabel]="o.text" [nzValue]="o.value"> </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="18">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>应付金额</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="dueAmount"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="18">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>支付状态</nz-form-label>
        <nz-form-control>
          <nz-select id="payStatus" nzAllowClear formControlName="payStatus">
            <nz-option nzValue="未支付" nzLabel="未支付"></nz-option>
            <nz-option nzValue="已支付" nzLabel="已支付"></nz-option>
            <nz-option nzValue="不支付(放弃)" nzLabel="不支付(放弃)"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="18">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">实付金额</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="actualPay"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="18">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">支付日期</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="actualPayDate"
            nzFormat="yyyy-MM-dd" value-format="yyyy-MM-dd" style="width: 100%;"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
 
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="18">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">备注</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="remark"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="18" class="operate-area">
      <button nz-button (click)="cancel($event)">取消</button>
      <button nz-button [nzType]="'primary'" style="margin-left: 8px;"
       [disabled]="!CreateForm.valid" (click)="save($event)">保存</button>
    </div>
  </div>

</form>
