<form nz-form [formGroup]="CreateForm">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">专利编号</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="patentCode"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">专利名称</nz-form-label>
        <nz-form-control>
          <input nz-input  formControlName="patentName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">申请号</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="applyCode"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">申请日期</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="applyDate" style="width: 100%;"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">授权号</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="empowerCode"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">授权日期</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="empowerDate" style="width: 100%;"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">发明人</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="inventorName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">代理机构</nz-form-label>
        <nz-form-control>
          <nz-select id="agency" nzAllowClear formControlName="agency">
            <nz-option nzValue="0" nzLabel="全部"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">专利类型</nz-form-label>
        <nz-form-control>
          <nz-select id="patentType" nzAllowClear formControlName="patentType">
            <nz-option nzValue="0" nzLabel="全部"></nz-option>
            <nz-option nzValue="1" nzLabel="发明专利"></nz-option>
            <nz-option nzValue="2" nzLabel="实用新型专利"></nz-option>
            <nz-option nzValue="3" nzLabel="外观设计专利"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">当前程序</nz-form-label>
        <nz-form-control>
          <nz-select id="process" nzAllowClear formControlName="process">
            <nz-option nzValue="0" nzLabel="全部"></nz-option>
            <nz-option nzValue="1" nzLabel="内部作业"></nz-option>
            <nz-option nzValue="2" nzLabel="委托代理"></nz-option>
            <nz-option nzValue="3" nzLabel="官方受理"></nz-option>
            <nz-option nzValue="4" nzLabel="官方初审"></nz-option>
            <nz-option nzValue="5" nzLabel="补正"></nz-option>
            <nz-option nzValue="6" nzLabel="官方实审"></nz-option>
            <nz-option nzValue="7" nzLabel="授权公告"></nz-option>
            <nz-option nzValue="8" nzLabel="官方发证"></nz-option>
            <nz-option nzValue="9" nzLabel="驳回通知"></nz-option>
            <nz-option nzValue="10" nzLabel="复审"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">权力状态</nz-form-label>
        <nz-form-control>
          <nz-select id="powerStatus" nzAllowClear formControlName="powerStatus">
            <nz-option nzValue="0" nzLabel="全部"></nz-option>
            <nz-option nzValue="1" nzLabel="待交"></nz-option>
            <nz-option nzValue="2" nzLabel="在审"></nz-option>
            <nz-option nzValue="3" nzLabel="有权"></nz-option>
            <nz-option nzValue="4" nzLabel="无权"></nz-option>
            <nz-option nzValue="5" nzLabel="进国家"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="24" class="operate-area">
      <button nz-button (click)="cancel()">取消</button>
      <button nz-button [nzType]="'primary'" style="margin-left: 8px;" (click)="save()">保存</button>
    </div>
  </div>
</form>