<nz-page-header class="site-page-header">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>文件管理</nz-breadcrumb-item>
    <nz-breadcrumb-item><a>提案文件</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">提案名称</nz-form-label>
        <nz-form-control>
          <input nz-input  formControlName="proposalName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">提案编号</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="proposalCode"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">文件名称</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="fileName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="24">
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">上传人</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="uploaderName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">上传时间</nz-form-label>
        <nz-form-control>
          <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onChange($event)"
            formControlName="dateRange" style="width: 100%;"></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" class="operate-area">
      <button nz-button (click)="resetForm()">重置</button>
      <button nz-button [nzType]="'primary'" style="margin-left: 8px;" (click)="search()">搜索</button>
    </div>
  </div>
</form>

<nz-table #resultTable nzBordered nzSize="small"
  nzShowPagination nzShowSizeChanger [nzData]="dataSet" [nzLoading]="searchLoading">
  <thead>
    <tr>
      <th nzWidth="60px">编号</th>
      <th>提案编号</th>
      <th>提案名称</th>
      <th>提案类型</th>
      <th>审批状态</th>
      <th>文件名称</th>
      <th>上传人</th>
      <th>上传时间</th>
      <th nzWidth="80px">文件详情</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of resultTable.data; let i = index">
      <td>{{ i+1 }}</td>
      <td>{{ data.proposalCode }}</td>
      <td>{{ data.proposalName }}</td>
      <td>{{ data.proposalType }}</td>
      <td>{{ data.proposalState }}</td>
      <td>{{ data.fileName }}</td>
      <td>{{ data.uploaderName }}</td>
      <td>{{ data.uploadDate }}</td>
      <td>
        <button nz-button  (click)="showFile()">查看</button>
      </td>
    </tr>
  </tbody>
</nz-table>
