<form nz-form [formGroup]="CreateForm">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">官费名称</nz-form-label>
        <nz-form-control>
          <input nz-input  formControlName="feeName"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">缴费状态</nz-form-label>
        <nz-form-control>
          <nz-select id="status" formControlName="status" nzAllowClear placeholder="请选择">
            <nz-option nzValue="0" nzLabel="已缴费"></nz-option>
            <nz-option nzValue="1" nzLabel="未缴费"></nz-option>
            <nz-option nzValue="2" nzLabel="已回执"></nz-option>
            <nz-option nzValue="3" nzLabel="不缴费(放弃)"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">应缴金额</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="dueFee"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">应缴日期</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="date"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">实缴金额</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="actualPay"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">实缴日期</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="payDate"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="24" [nzLg]="24" [nzXl]="24">
      <nz-form-item>
        <nz-form-label [nzSpan]="3">备注</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="remark"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="12" [nzXl]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">发票</nz-form-label>
        <nz-form-control>
          <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" [nzFileList]="fileList">
            <button nz-button><i nz-icon nzType="upload"></i>上传文件</button>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="24" class="operate-area">
      <button nz-button (click)="cancel()">取消</button>
      <button nz-button [nzType]="'primary'" style="margin-left: 8px;" (click)="save()">保存</button>
    </div>
  </div>
</form>